* {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C3E2C2;
}

.charmonman-bold {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
  }

.plant {
    padding: 20px;
    background-color: #EAECCC;
    border: 1px solid #CD8D7A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 170px; /* Set the width of the card */
    height: 220px; /* Set the height of the card */
}

.container {
    padding: 5px;
    background-color: #EAECCC;
}

.plant-photo {
    padding: 5px;
    background-color: #CD8D7A;
    border-radius: 5px 5px 0 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 20px;
}

h1 {
    margin-bottom: 5px;
}